%p#erb
  %strong Commenter:
  = comment.commenter
%p
  %strong Comment:
  = comment.body
%p
  = link_to 'Destroy', [comment.user, comment],class:"btn btn-danger",
    method: :delete,data: { confirm: 'Are you sure?' }